:root {
  --primary-color: #3498db;
}

.review-form {
  background-color: #f5f5f5; /* Light gray background */
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-form h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Dark text for better contrast */
}

.review-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-form form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333; /* Dark text for better contrast */
}

.review-form form input,
.review-form form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc; /* Lighter border for focus indication */
  border-radius: 4px;
  font-size: 1rem;
  color: #333; /* Dark text for better contrast */
  background-color: #fff; /* White background for text input fields */
}

.review-form form input:focus,
.review-form form textarea:focus {
  outline: none; /* Remove default outline */
  border-color: var(--primary-color); /* Use primary color for focused input */
}

.review-form form textarea {
  height: 100px;
  resize: vertical;
}

.review-form form button {
  padding: 1rem;
  background-color: var(--primary-color); /* Replace with your primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
  width: fit-content;
  align-self: flex-end;
}

.review-form form button:hover {
  background-color: darken(
    var(--primary-color),
    5%
  ); /* Darken primary color on hover */
}

/* Responsive Styles (optional) */

@media (max-width: 768px) {
  .review-form {
    width: 90%;
  }
}
